<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <h1><%= title %><small></small></h1>
      <div class="col-lg-4">
      <form role="form" action="/admin/add" method="POST">
        <div class="form-group">
          <label for="title">主题名称</label>
          <input type="text" class="form-control" name='title' placeholder="请输入">
        </div>
        <div class="form-group">
          <label for="author">作者</label>
          <input type="text" class="form-control" name='author' placeholder="请输入">
        </div>
        <button type="submit" class="btn btn-default">提交</button>
      </form>
      </div>
    </div>
  </div>
</body>
</html>